body{ 
    margin: 0; 
    font-family: 'AntonaMedium';
}
* { box-sizing: border-box; }

/* The overall Page layout is a flex row (nav and content side-by-side) 
We will override this for smaller screens later on*/
main { 
    display: flex; 
    flex-direction: row;
}

/* On a big screen we split the layout 30%/70%
Note the units are "vw" (viewport width) */
main nav { width: 30vw; }
main article{ width: 70vw; }


/* On a small screen the navigation moves to the top. */
@media (max-width: 900px) { 
    main { flex-direction: column; } 
    main nav, main article { width: 100vw; }
}

/* the navigation is also a flex container but is has wrap enabled. 
it also has some justificaiton applied to the images. */
nav{ 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-content: flex-start; 
} 

/* Scale the menuItems in a responsive way */
nav .menuItem{  
    width: 33.333%;  
    cursor: pointer;
} 
@media (max-width: 900px) { nav .menuItem{   width: 14.2857%; }  }
@media (max-width: 600px) { nav .menuItem{   width: 16.667%; }  }
  

#loader {  
    display: flex;
    color: rgb(140, 0, 255);
    align-items: center;
    justify-content: space-around;
    width: 30vw; 
    height: 100vh;
} 


/* On the welcome/ landing area, the content is fully centered. */
#welcome {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
} 
@media (max-width: 900px) { #welcome{   height: auto; }  }


/* The banner div has a relative position. 
This allows us to position the text inside it absolutely.
While also maintaining an image below the text.  */
#film .banner{
    position: relative;
    margin: 5rem 5rem 1rem 5rem;
}
/*On a small screen the banner doesn't really need such a big margin. */
@media (max-width: 900px) { #film .banner{   margin: 1rem 0rem 1rem 0rem; }  }
#film .banner img{
    width: 100%; 
    display:block; 
}
#film .banner h2{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(8, 60, 152, .58);
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 3em;
    font-family: 'Jura', sans-serif;
}

/* Styling for the description text */
#film .details{
    margin: 5rem;
    font-size: 2rem;
    font-family: 'Jura', sans-serif;
    

} 
@media (max-width: 900px) { #film .details, #film .widgets{   margin: 2rem; }  }
/* Bold the first line only. */
/* See also: https://developer.mozilla.org/en-US/docs/Web/CSS/::first-line  */
#film .details ::first-line{
    font-family: 'AntonaBold';
}

/* A flex container for "widgets"*/
#film .widgets{
    margin: 1rem 5rem;
    display: flex; 
    flex-flow: wrap;
    text-align: center; 
    gap: 1rem;  /* The space between flex items. */
}

/* The CSS for widget assumes a corresponding markup 
with a variety of classes (e.g. "data",  "unit",  "label") */
#film .widget{ 
    padding: 3rem;
    flex-grow: 1;
}
#film .widget .data{
    font-size: 2em;
    font-family: 'AntonaLight';
}
#film .data .unit{
    font-size: 1rem;
    font-family: 'AntonaBold';
}
#film .widget .label{
    text-transform: uppercase;
    font-size: 1.1em; 
    font-family: 'AntonaBold';
}

/* Some widgets have different colours. */
#film .creators .widget{ 
    color: #fff;
    background:rgba(8, 60, 152, .6);
}
#film .statistics .widget{ 
    color: #fff;
    background:rgba(90, 27, 126, 0.6);
}

#credits{
    margin: 5rem;
}

.widget iframe {
    aspect-ratio: 16 / 9;
    position: relative;
    width: 100%;
    /* height: 500px; */
    /* left: 0;
    right: 0; */

}

#film .widget.trailer {
    padding: 0;

}